@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 95%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 95%;

    --primary: 73 92% 56%;
    --primary-foreground: 0 0% 10%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 95%;

    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 60%;

    --accent: 73 92% 56%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;

    --success: 73 92% 56%;
    --success-foreground: 0 0% 10%;

    --warning: 45 93% 47%;
    --warning-foreground: 0 0% 10%;

    --border: 0 0% 25%;
    --input: 0 0% 10%;
    --ring: 73 92% 56%;

    --radius: 1.25rem;

    --table-title: 0 0% 16%;
    --table-header: 0 0% 50%;
    --table-row: 0 0% 16%;
    --table-row-hover: 0 0% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
}
